body{
    background-color: rgb(25, 25, 25);
    color : white;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
.move-icon{
    height:100px;
}
.move-button{
    
    background-color: transparent;
    border: 0px solid white;
    width: 120px;
    height: 120px;
    border-radius: 40px;
    background : none;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;


}
.result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}
.score{
    font-size: 20px;
    margin-top: 60px;
}
.reset-score-button{
    margin-top: 20px;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}